/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: CE backpage;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 4;
	frame-break-before: always;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Column1;
	id: 0;
	size: 8mm;
	vertical-align: top;
	text-align: left;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 100%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	separator-color: device-cmyk(0,0,0,1);
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	separator-color: device-cmyk(0,0,0,1);
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-CE_backpage
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	frame-break-before: always;
	border-spacing: 0px 0px;
}

.TableStyle-CE_backpage-Column-Column1
{
	width: 8mm;
}

.TableStyle-CE_backpage-Column-Column2
{
	width: 100%;
}

.TableStyle-CE_backpage-Head-Header1
{
	
}

.TableStyle-CE_backpage-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-HeadI-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadE-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadE-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadF-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadH-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-HeadH-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadD-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-HeadC-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadB-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-HeadB-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-HeadA-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-HeadG-Column1-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadI-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadI-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadE-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadE-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadF-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadF-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadH-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadH-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadD-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-color: device-cmyk(0,0,0,1);
	border-bottom-style: solid;
}

.TableStyle-CE_backpage-HeadD-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadC-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadC-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadB-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadB-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadA-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadA-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-HeadG-Column2-Header1
{
	
}

.TableStyle-CE_backpage-HeadG-Column2-Header1 p
{
	
}

.TableStyle-CE_backpage-Foot-Footer1
{
	
}

.TableStyle-CE_backpage-FootI-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-FootI-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootE-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootE-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootF-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootF-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootH-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-FootH-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootD-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootD-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootC-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-FootC-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootB-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-FootB-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootA-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-FootA-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootG-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-FootG-Column1-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootI-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootI-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootE-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootE-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootF-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootF-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootH-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootH-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootD-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-color: device-cmyk(0,0,0,1);
	border-top-style: solid;
}

.TableStyle-CE_backpage-FootD-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootC-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootC-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootB-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootB-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootA-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootA-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-FootG-Column2-Footer1
{
	
}

.TableStyle-CE_backpage-FootG-Column2-Footer1 p
{
	
}

.TableStyle-CE_backpage-Body-Body1
{
	
}

.TableStyle-CE_backpage-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyI-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-BodyE-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyF-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-BodyH-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyD-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyC-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-CE_backpage-BodyB-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyA-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyG-Column1-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyI-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyE-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-CE_backpage-BodyE-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyF-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-CE_backpage-BodyF-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyH-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyD-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-CE_backpage-BodyD-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyC-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyB-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyA-Column2-Body1 p
{
	
}

.TableStyle-CE_backpage-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-CE_backpage-BodyG-Column2-Body1 p
{
	
}


