<?xml version='1.0' encoding='utf-8'?>
<Configuration FlareFolder="" SheetPath="C:\Users\iray3\Desktop\TargetControl_Targets.xlsx">
  <ProjectGroup Path="C:\IFU\English - source (GB)\Project" AnchorProject="Targets">
    <Origin FolderName="Targets" />
    <Origin FolderName="Advanced" />
    <Origin FolderName="ConditionTagSets" />
    <Origin FolderName="Destinations" />
    <Origin FolderName="Exports" />
    <Origin FolderName="Glossaries" />
    <Origin FolderName="Imports" />
    <Origin FolderName="Reports" />
    <Origin FolderName="Skins" />
    <Origin FolderName="TOCs" />
    <Origin FolderName="Users" />
    <Origin FolderName="VariableSets" />
  </ProjectGroup>
</Configuration>